* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 30px auto;
  position: relative;
}
.content__calendar {
  width: 350px;
}

.calendar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}
.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.calendar__body {
  margin-bottom: 20px;
}
.calendar__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar__title {
  font-size: 25px;
  font-weight: bold;
}
.calendar__btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(189, 124, 189);
  cursor: pointer;
}
.calendar__btn:hover {
  opacity: 0.8;
}
.calendar__btn:active {
  opacity: 0.5;
}

.gridbody__row {
  display: grid;
  row-gap: 4px;
  grid-template-columns: auto auto auto auto auto auto auto;
}
.gridbody__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.gridbody__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  aspect-ratio: 1/1;
}
.gridbody__cellname {
  color: rgb(189, 124, 189);
}
.gridbody__day {
  color: black;
  cursor: pointer;
}
.gridbody__day:hover {
  opacity: 0.8;
}
.gridbody__day:active {
  opacity: 0.5;
}
.gridbody__day-select {
  position: relative;
  z-index: 10;
  background: linear-gradient(purple, blue);
  border-radius: 50%;
  color: white;
}
.gridbody__day-selectleft {
  position: relative;
  z-index: 10;
  background: linear-gradient(purple, blue);
  border-radius: 50%;
  color: white;
}
.gridbody__day-selectleft::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background: linear-gradient(purple, blue);
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}
.gridbody__day-selectright {
  position: relative;
  z-index: 10;
  background: linear-gradient(purple, blue);
  border-radius: 50%;
  color: white;
}
.gridbody__day-selectright::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  background: linear-gradient(purple, blue);
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}
.gridbody__day-hover {
  position: relative;
  z-index: 10;
}
.gridbody__day-hover::after, .gridbody__day-hover::before {
  content: "";
  top: 0;
  bottom: 0;
  background: linear-gradient(purple, blue);
  z-index: -1;
  position: absolute;
  opacity: 0.5;
}
.gridbody__day-hover::after {
  left: 0;
  right: 50%;
}
.gridbody__day-hover::before {
  left: 50%;
  right: 0;
}
.gridbody__prev, .gridbody__next {
  color: rgb(190, 190, 190);
  cursor: all-scroll;
}